<% page_name = 'tutorial_motion' %>

<%- include('../partials/doc_top'); %>
<%- include('../partials/nav'); %>

<header class="cool-header">
    <h1>ISF for Motion Overview</h1>
    <span class="subheading">Using generators and filters in Motion</span>
</header>

<section class="tutorial">

    <div class="tutorial-video">
        <iframe src="https://player.vimeo.com/video/344385790" width="640" height="400" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </div>

    <section class="big-labels">

        <div>
            <h2>Setting things up <a class="timestamp">[00:00]</a></h2>
            <p>Specify the resolution, frame rate and duration of the new Motion project. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi id officia inventore, nulla corporis tempore, voluptas aliquam quae esse molestiae velit placeat ab nesciunt officiis perferendis. Laboriosam voluptates praesentium nesciunt.</p>
        </div>

        <div>
            <h2>Using a generator <a class="timestamp">[00:30]</a></h2>
            <p>Browse the list of ISF generators in the Motion Library and add a Brick Pattern to the timeline. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure harum corporis nesciunt, atque incidunt expedita officiis eveniet quasi eligendi, rerum eaque, quisquam laborum. Neque maxime quos debitis tempore culpa voluptas!</p>
        </div>

        <div>
            <h2>Animating the brick texture <a class="timestamp">[00:51]</a></h2>
            <p>Use the Motion Inspector to adjust published shader generator parameters and set keyframes in the timeline. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo eaque quisquam ab, nisi repudiandae deleniti odio doloremque magnam neque autem error et. Facere voluptas autem laborum, neque error tempora voluptates.</p>
        </div>

        <div>
            <h2>Filtering an image <a class="timestamp">[01:41]</a></h2>
            <p>Browse the list of ISF filters in the Motion Library and add a Shape Morph to the timeline. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium nesciunt molestiae consequuntur reiciendis dolorem minus natus debitis quam quisquam, fugiat fugit ipsa, aliquid hic tenetur assumenda sit adipisci blanditiis quis.</p>
        </div>

        <div>
            <h2>Animating a filter <a class="timestamp">[02:04]</a></h2>
            <p>Use the Motion Inspector to adjust published shader filter parameters and set keyframes in the timeline</p>
        </div>

        <div>
            <h2>Export for use elsewhere <a class="timestamp">[02:40]</a></h2>
            <p>Render file as a movie file to use in other software. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut est commodi aut voluptatibus debitis suscipit qui, autem dolore odio omnis ipsam asperiores, fuga facilis! Veritatis, animi totam! Consectetur, neque totam?</p>
        </div>
  
    </section>

    <%- include('../partials/tutorials_nav'); %>

</section>

<%- include('../partials/footer'); %>
<%- include('../partials/doc_bottom'); %>
